@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding: 40px;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
}
.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 538px;
}
.apresentacao__conteudo__nome {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.apresentacao__conteudo__descricao {
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.apresentacao__conteudo__descricao__destaque {
    font-weight: 700;
}
.links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.link {
    display: flex;
    padding: 21px 64px;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-weight: 700;
    border-radius: 14px;
    background: #62BA1B;

}
img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}